<% if !@user.versions.empty? %>
  <h5>Latest Version: <%= @user.versions.length %></h5>

  <b>Created At:</b>
  <%= @user.versions.last.created_at%>
  <br>

  <strong>User</strong>:
  <%= @user.versions.last.whodunnit ? Admin::User.find(@user.versions.last.whodunnit).email : 'Unknown' %>
  <br>

  <% if @user.versions.length.to_i > 1 %>
    <% if params[:version].to_i > 1 || !params[:version] %>
      <br>
      <%= link_to "Previous version", {:version => (params[:version] || @user.versions.length).to_i - 1}%>
      <br>
    <% end %>
    <% if params[:version] %>
      <br>
      <hr>
      <h5>This is Version: <%= "#{params[:version]}"%></h5>

      <b>Modify at:</b>
      <%= @user.versions[(params[:version].to_i - 1)].created_at %>
      <br>
      <strong>User</strong>:
      <%= @user.versions[(params[:version].to_i - 1)].whodunnit ? Admin::User.find(@user.versions[(params[:version].to_i - 1)].whodunnit).email : 'Unknown' %>
      <br>
      <br>

      <%= link_to "Go to current version"%>
    <% end %>
  <% end %>
  <br>
  <br>
  <hr>
  <%= link_to "View All", '/' %>
<% else %>
  <p>This item does not have any registered version.</p>
<% end %>
